body {
  font-family: sans-serif;
  margin: 2rem;
}

button {
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}

h1 {
  background-color: rgb(53, 72, 73);
  color: white
}

h2 {
  color: rgb(105, 49, 49);
  text-decoration: underline;
}

