blinker==1.9.0
certifi==2025.7.14
charset-normalizer==3.4.2
click==8.2.1
Flask==3.1.1
idna==3.10
iniconfig==2.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
packaging==25.0
pluggy==1.6.0
pony==0.7.19
Pygments==2.19.2
pytest==8.4.1
requests==2.32.4
store==2020.2.10
urllib3==2.5.0
Werkzeug==3.1.3
